body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%; }

a {
  display: inline-block; }

p {
  padding: 0;
  margin: 0; }

ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

.hide {
  display: none; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.invisible {
  visibility: hidden; }

.disable {
  pointer-events: none;
  cursor: default;
  opacity: 0.5; }

.Logo__Big {
  width: 80px;
  height: 80px; }

.Logo__Small {
  width: 50px;
  height: 50px; }

.Icon__Big {
  width: 40px;
  height: 40px; }

.Spacing__80 {
  margin-bottom: 80px !important; }

.Spacing__50 {
  margin-bottom: 50px !important; }

.Spacing__40 {
  margin-bottom: 40px !important; }

.Spacing__30 {
  margin-bottom: 30px !important; }

.Spacing__20 {
  margin-bottom: 20px !important; }

.Spacing__10 {
  margin-bottom: 10px !important; }

.Heading__Tagline {
  font-size: 35px;
  line-height: 1.14;
  font-weight: 800; }

.Heading__Success {
  font-size: 20px;
  line-height: 1.14;
  font-weight: 800;
  color: #27ae60; }

.Heading__Error {
  font-size: 20px;
  line-height: 1.14;
  font-weight: 800;
  color: #e74c3c; }

.Heading__Info {
  font-size: 16px;
  font-weight: 400;
  color: #808080; }

.Text__Message {
  color: #808080; }

.Text__Error {
  color: #e74c3c; }

.Input {
  outline: none;
  font-size: 16px;
  border-radius: 3px;
  border-color: #27ae60;
  border: 1px solid;
  height: 45px;
  padding: 12px 20px; }
  .Input__Label {
    font-size: 16px;
    font-weight: 700; }

.Input:hover, .Input:focus {
  border-color: #27ae60; }

.Button {
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700; }
  .Button__Google {
    color: #75757D;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #BFBFBF;
    width: 100%; }
  .Button__Success {
    padding: 12px 0;
    background: #27ae60;
    box-shadow: 0 3px 1px 0 #1B7943;
    color: #fff; }
  .Button__Icon {
    width: 42px;
    height: 42px; }
    .Button__Icon--Google {
      display: inline-block;
      vertical-align: middle;
      background: url("images/g-normal.png") transparent 5px 50% no-repeat; }
  .Button__Text--Google {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px; }

/* separator  */
.Separator {
  display: flex;
  align-items: center;
  justify-content: center; }
  .Separator__Line {
    width: 200px;
    border-bottom: 1px solid #eee;
    height: 0px; }
  .Separator .Separator__Text {
    padding: 0 20px;
    color: #808080;
    font-weight: 700;
    font-size: 13px; }

.lAuthForm__Google {
  width: 300px;
  margin: auto; }

.lAuthForm__Email, .lAuthForm__Create-Account {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto; }

.lAuthForm__LoginSupport {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin: auto;
  color: #808080;
  font-size: 14px; }

.lAuthForm__SignUpSupport {
  font-size: 14px;
  color: #808080; }

.lAuthForm__LoginSupport a, .lAuthForm__SignUpSupport a {
  color: #808080; }

.lAuthForm__LoginSupport a:hover, .lAuthForm__SignUpSupport a:hover {
  color: #27ae60; }

.lAuthForm__Error {
  font-size: 14px;
  width: 265px;
  margin: auto;
  padding: 15px 20px 15px 15px;
  background-color: #eee;
  border-radius: 3px;
  border-color: #27ae60;
  outline: none; }

.lFeedback {
  width: 395px;
  height: 260px;
  margin: auto;
  background-color: #fafafa; }
  .lFeedback__Wrapper {
    padding: 50px; }

.lFeedback--Mail {
  width: 395px;
  height: 260px;
  margin: auto; }

.lHeadingInfo {
  width: 350px;
  margin: auto; }

.Spinner {
  margin: 100px auto 0;
  width: 200px;
  text-align: center; }
  .Spinner .label__big {
    margin-top: 5px;
    color: #808080;
    font-size: 16px;
    font-weight: 700;
    font-family: "acumin-pro", sans-serif;
    margin-bottom: 5px; }
  .Spinner .label__small {
    color: #808080;
    font-size: 12px;
    font-family: "acumin-pro", sans-serif;
    margin-top: 5px; }
  .Spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .Spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }

.Spinner > div {
  width: 18px;
  height: 18px;
  background-color: #27ae60;
  border-radius: 100%;
  display: inline-block;
  margin: 0px 10px;
  border: 10px solid #eee;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
