.Container {
  width: 700px;
  line-height: 1;
  margin: 70px 0px 0px 140px;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 480px) {
    .Container {
      width: 480px;
      margin: 70px 0px 0px 0px; } }

.About {
  font-size: 1.15em;
  line-height: 1.5em; }

.Section {
  margin-bottom: 55px; }
  .Section__Title {
    margin-bottom: 35px; }

.Project {
  margin-bottom: 35px; }
  .Project__Title {
    font-size: 1.1em; }
    .Project__Title a, .Project__Title a:visited {
      text-decoration: none;
      color: #000; }
      .Project__Title a:hover, .Project__Title a:visited:hover {
        color: #27AE60; }

.Salutation:after {
  width: 100px;
  height: 20px;
  content: "(*\FF3E \25BD \FF3E )\FF0F "; }

.Salutation:hover:after {
  content: "(\FFE3 ^\FFE3 )"; }
